.TextContainer {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  background-color: #f7f7f7;
  border-radius: 4px;
  &_query {
    color: #333;
    font-size: 14px;
    font-weight: 500;
  }
}

.TextContainer:hover {
  background-color: transparent;
}
